*{
    background-color:rgb(60, 100, 112);
    font-family: sans-serif;

}


header{
    width: 450px;
    height: 50px;
    margin: 0 auto; /* This centers the element horizontally */
    text-align: center;
    
    
}


#tool-section {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 10px; /* Adjust the value for the desired curve */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    height: 220px;
    width: 650px;
    background-color: rgb(98, 107, 110);
}

#Aboutus {
    position: absolute;
    top: 60%; /* Adjust the top position to add space between the divs */
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 10px; /* Adjust the value for the desired curve */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    height: 160px;
    width: 475px;
    background-color: rgb(98, 107, 110);
}



#tool-section p{
    
    background-color: rgb(98, 107, 110);
}

#tool-section h2{
    background-color: rgb(98, 107, 110);
     
}

#Aboutus h2{
    background-color: rgb(98, 107, 110);
    

}

#Aboutus p{
    background-color: rgb(98, 107, 110);
}




#ptool{
    display: block;
    margin: 0 auto; /* This centers the element horizontally */
    background-color:rgb(98, 107, 110); /* Add your desired background color for the button */
    text-align: right;
    line-height: 40px; /* Set the line height to center text vertically */
    color: black; 
    border-radius: 10px;

    position: absolute;
    bottom: 20px;
    right: 20px;
    
}

a{
    text-decoration: none;
    
}

