*{
   font-family: sans-serif;
   background-color: rgb(60, 100, 112);
}

h1{
    text-align: center;
}

#table-container {
    width: 620px;
    height: 250px;
    margin: 0 auto;
    background-color: white; /* Set the background color of the table container to white */
}

input{
    background-color: white;
    border: none;
    text-align: center;
    width: 50px;
}

table{

    width: 600px;
    height: 250px;
    margin: 0 auto;
    border-collapse: collapse;

}

td{
    background-color: white;
    padding: 5px;
    text-align: center;
}

#addFunc,#reFunc,#help,#Calculate{
    border-radius: 5px;
    border: 2px solid #faf7b9f3;
    box-shadow: 0 0 8px #faf7b9f3;
    background-color:aliceblue;
    
}

#buttons{
    text-align: center;
}


#addFunc:hover{
    background-color: beige;
}

#reFunc:hover{
    background-color: beige;
}

#help:hover{
    background-color: beige;
}

#Calculate:hover{
    background-color: beige;
}